---
import { Icon } from 'astro-icon'
export interface Props {
  page: any
}
const { page } = Astro.props
const pageMaxCount = 3 //最大表示数(前後3つ)
const pageFirst = page.currentPage - pageMaxCount >= 1 ? page.currentPage - pageMaxCount : 1
const pageEnd =
  page.currentPage + pageMaxCount <= page.lastPage ? page.currentPage + pageMaxCount : page.lastPage
const pageList: any[] = []
for (let i = pageFirst; i <= pageEnd; i++) {
  if (i === page.currentPage) {
    pageList.push({ page: i, current: true })
  } else {
    pageList.push({ page: i, current: false })
  }
}
let host_url: any = Astro.url.host
let path_url: any = Astro.url.pathname.replace(/^\//, '').replace(/\/\d*$/, '')
console.log(Astro.url)
---

<div class='ml-4'>
  <nav
    class='relative z-0 inline-flex -space-x-px rounded-md text-center shadow-sm'
    aria-label='Pagination'
  >
    <ul class='flex flex-row'>
      {
        pageList.map((pageInfo) => (
          <div class='inline-flex'>
            {pageInfo.current ? (
              <li class='relative inline-flex items-center rounded-md border border-orange-500 bg-pink-100 px-2 py-2 text-center text-sm font-medium text-orange-600 shadow-sm dark:border-pink-500 dark:bg-pink-900 dark:text-orange-200'>
                {pageInfo.page}
              </li>
            ) : pageInfo.page == 1 ? (
              <li class='relative inline-flex items-center rounded-md border border-orange-300 bg-white px-2 py-2 text-center text-sm font-medium text-gray-500 hover:bg-orange-100 dark:border-orange-700 dark:bg-gray-900 dark:text-gray-300 dark:hover:bg-orange-900'>
                <a href={'//' + host_url + '/' + path_url}>{pageInfo.page}</a>
              </li>
            ) : (
              <li class='relative inline-flex items-center rounded-md border border-orange-300 bg-white px-2 py-2 text-center text-sm font-medium text-gray-500 hover:bg-orange-100 dark:border-orange-700 dark:bg-gray-900 dark:text-gray-300 dark:hover:bg-orange-900'>
                <a href={'//' + host_url + '/' + path_url + '/' + pageInfo.page}>{pageInfo.page}</a>
              </li>
            )}
          </div>
        ))
      }
    </ul>

    <!-- <p
      class='z-10 border-orange-500 bg-pink-100 text-orange-600 dark:border-pink-500 dark:bg-pink-900 dark:text-orange-200'
    >
      Page {page.currentPage}/{page.lastPage}
    </p> -->
    {
      page.currentPage != 1 ? (
        <div class='order-first inline-flex'>
          <a
            class='relative inline-flex items-center rounded-l-md border px-2 py-2 text-sm font-medium '
            href={'//' + host_url + '/' + path_url + '/'}
          >
            <Icon class='h-5 w-5 text-white' pack='heroicons-solid' name='chevron-double-left' />
          </a>
          <a
            class='relative inline-flex items-center rounded-l-md border px-2 py-2 text-sm font-medium'
            href={page.url.prev ? '//' + host_url + '/' + page.url.prev.slice(1) : '#'}
          >
            <Icon class='h-5 w-5 text-white' pack='heroicons-solid' name='chevron-left' />
          </a>
        </div>
      ) : (
        <div />
      )
    }
    {
      page.currentPage != page.lastPage ? (
        <div class='order-last inline-flex'>
          <a
            href={page.url.next ? '//' + host_url + '/' + page.url.next.slice(1) : '#'}
            class='relative inline-flex items-center rounded-r-md border px-2 py-2 text-sm font-medium'
          >
            <Icon class='h-5 w-5 text-white' pack='heroicons-solid' name='chevron-right' />
          </a>
          <a
            href={'//' + host_url + '/' + path_url + '/' + page.lastPage}
            class='relative inline-flex items-center rounded-r-md border px-2 py-2 text-sm font-medium'
          >
            <Icon class='h-5 w-5 text-white' pack='heroicons-solid' name='chevron-double-right' />
          </a>
        </div>
      ) : (
        <div />
      )
    }
  </nav>
</div>
